.container__small-card{
    /* border: solid white 2px; */
    margin-bottom: 15px;
    width: 700px;
}

.container__small-card:hover{
    transform: scale(1.02);
    box-shadow: 0px 7px 43px 9px rgba(0,0,0,0.64);
    -webkit-box-shadow: 0px 7px 43px 9px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 7px 43px 9px rgba(0,0,0,0.64);
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__small-card__separator{
    margin-top: 10px;
    opacity: .5;
}

.small-card__data > p {
    color: gray;
    font-size: 11px;
}