<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://aventurasnahistoria.uol.com.br/media/uploads/56629348_812446789135892_5734410368185270272_n.jpg" 
            alt="Culturas Antigas" 
            srcset=""
            >
        </div>
        <div class="container__small-card-text">
            <div class="small-card__data">
                <p>07 de Outubro de 2023</p>
            </div>
            <div class="small-card__title">
                <h1><a href="#">10 Curiosidades Fascinantes sobre Culturas Antigas</a></h1>
            </div>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>

