<div class="container__menu-bar">
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/lucas-cipriano-3801b6172/" target="_blank">
                <img src="./assets/linkedin-png.png" 
                alt=""
                height="13px"
                width="13px"
                >
                Linkedin
            </a>
        </li>
        <li><span>•</span></li>
        <li>
            <a href="https://github.com/Luckeeys" target="_blank">
                <img src="./assets/github-png.png" 
                alt=""
                height="13px"
                width="13px"
                >
                Github
            </a>
        </li>
        <li><span>•</span></li>
        <li>
            <a href="https://api.whatsapp.com/send/?phone=5511988732277&text=Ola%2C+Lucas+tudo+bem%3F+Tenho+uma+proposta+pra+voce%21%21" target="_blank">
                <img src="./assets/whatsapp-png.png" 
                alt=""
                height="13px"
                width="13px"
                >
                WhatsApp
            </a>
        </li>
    </ul>
</div>
