.container__content {
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* .content__photo {
    border: 1px dotted white;
} */

.content__photo > img {
    margin-top: 10px;
    border: solid gray 5px;
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;
}

.content__description {
    margin-top: 15px;
}

.content__description > a:hover{
    color: rgb(117, 117, 117);
    text-decoration: underline;
}

.content__description > p {
    color: rgb(160, 159, 159);
}

.content__date{
    margin-top: 10px;
    align-self: flex-start;
}

.content__date > span {
    color: gray;
    font-size: 11px;
}